# Android
*.iml
.gradle/
local.properties
/.idea/
/build/
app/build/
**/build/

# Android Studio
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/

# macOS
.DS_Store

# NDK / CMake
.externalNativeBuild/
.cxx/

# Ignore all problem reports
build/reports/

# Keystore (DO NOT COMMIT)
*.keystore
*.jks